/* Traitement des médias

Sommaire :

    1. Images et vidéos
    2. Figure
    3. Overlay
*/

/* Images et vidéos */

img,
video {
    max-width: 100%;
    height: ;
}

/* Figure */

figure {
    margin: 0;
}

/* Overlay */

.duotone {
    position: relative;
    background-color: var(--baseblue-1);
    z-index: -1;
}

.duotone>img {
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.duotone::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--baseblue-2);
    z-index: 1;
    mix-blend-mode: lighten;
}