/* Traitement des médias

Sommaire :

    1. Images et vidéos
    2. Figure
    3. Overlay
*/

/* Images et vidéos */

img,
video {
   
}

/* Figure */

figure {

}

/* Overlay */

.duotone {
   position: relative;
   background-color: var(--baseblue-2);
}

.duotone::before {
   
}

.duotone>img {
display: block;
}