/* Variables CSS

Sommaire :

    1. Styles de l'harmonie colorée
    2. Polices de caractère
    3. Tailles de police de caractère
    4. Font variantes
    5. Espacements
*/

:root {
    /* Styles de l'harmonie colorée */
    --baseblue-1: #35495E;
    --baseblue-2: #526D84;
    --lightblue-1: #5FADE0;
    --lightblue-2: #8FC1DD;
    --yellow-1: #F49C13;
    --yellow-2: #E2B170;
    --black: #262728;
    --grey-1: #7F8C8D;
    --grey-2: #BEC4C8;
    --white: #ECF0F1;
    --system-red: #E84B3C;

    /* Polices de caractère */
    --font-heading-1: 'Moontserrat Alternates', sans-serif, light;
    --font-heading-2: 'Moontserrat Alternates', sans-serif, font-weight:600;
    --font-heading-3: 'Moontserrat Alternates', sans-serif;
    --font-heading-4: 'Moontserrat Alternates', sans-serif, font-weight:600;
    --font-body: 'Roboto', sans-serif;
    --font-small-text: 'Playfair Display', serif;
    --font-button:'Moontserrat Alternates', sans-serif, uppercase, font-weight: 600;
    --font-small-text-uppercase: 'Playfair Display', serif, uppercase;

    /* Tailles de police de caractère */
    --title-main: rem;
    --title-xl: rem;
    --text-xxl: rem;
    --text-xl: rem;
    --text-md: rem;
    --text-sm: rem;
    --text-xs: rem;

    /* Font variantes */
    --letter-spacing: rem;

    /* Espacements */
    --space1x: 8px;
    --space2x: 16px;
    --space3x: 24px;
    --space4x: 32px;
    --space5x: 40px;
    --space6x: 48px;
    --space7x: 56px;
    --space8x: 64px;
    --space9x: 72px;
    --space10x: 80px;
}