/* Footer des pages

Sommaire :

    1. footer
    2. footer a
    3. footer__list
    4. footer__title
*/

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--space3x);
    padding: var(--space3x) var(--space4x);
    background-color: var(--black);
    color: var(--grey-1);
}

.footer a {
    color: var(--grey-1);
    font-family: var(--font-button);
    text-decoration: none;
}

.footer__list {
    display: flex;
    gap: var(--space3x);
    align-items: flex-start;
    flex-direction: column;

}

.footer__title {
    display: flex;
    font-family: var(--font-heading-3);
    flex-direction: column;
    font-size: var(--text-md);
    margin-top: 0;
    text-transform: uppercase;
    align-items: flex-start;
}

.footer__social {
    display: block;
    gap: var(--space2x);
    margin-top: 0;
    margin-bottom: 0;
    align-items: flex-start;
    flex-direction: column;
}

.align a .footer__social {
    display: flex;
        align-items: center;
        margin: auto;
        margin-right: 10%;
        
}

.align a .footer__iconSocial {
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 10%;
    height: 5vh;
    width: 5vh;
}

.align a {
    display: flex;
    align-items: center;
}

.align .footer__title {
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 10%;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 6vh;
    height: 10vh;
}

.footer__logo__arrow {
    display: flex;
    margin-left: 90%;
    height: 20vh;
    scroll-behavior: smooth;
    cursor: pointer;
}

.footer__lang {
    display: flex;
    margin-top: 6vh;
    margin-left: 85%;
    height: 7vh;
}

.footer__address {
font-family: var(--font-heading-3);
}

.footer__logo__mmi {
    display: flex;
    margin-top: 6vh;
    margin-left: 85%;
    height: 8vh;
}

.signature {
    display: flex;
    margin-left: 90%;
    margin-top: -6vh;
    height: 5vh;
}

.host{
color: var(--lightblue-2);
}

.footer__title-container {
    display: flex;
    align-items: center;
}