/* Footer des pages

Sommaire :

    1. footer
    2. footer a
    3. footer__list
    4. footer__title
*/

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--space3x);
    padding: var(--space3x) var(--space4x);
    background-color: var(--black);
    color: var(--grey-1);
}

.footer a {
    color: var(--grey-1);
    font-family: var(--font-button);
    text-decoration: none;
}

.footer__list {
    display: flex;
    gap: var(--space3x);
}

.footer__title {
    font-family: var(--font-heading-3);
    font-size: var(--text-sm);
    margin-top: 0;
    text-transform: uppercase;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 6vh;
    height: 10vh;
}

.footer__logo__arrow {
    margin-left: 80vh;
    height: 20vh;
}

.footer__lang {
    display: flex;
    margin-top: 6vh;
    margin-left: 67vh;
    height: 7vh;
}

.footer__address {}

.footer__logo__mmi {
    display: flex;
    margin-top: 6vh;
    margin-left: 77.5vh;
    height: 8vh;
}

.signature {
    display: flex;
    margin-left: 80vh;
    margin-top: -6vh;
    height: 5vh;
}