/* Sections des pages

Sommaire :

    1. 
*/


/* Accès */

.metro-line4 {
    color: #cf009e;
}

.metro-line6 {
    color: #6eca97;
}

.bus-line38 {
    color: var(--lightblue-1);
}

.bus-line68 {
    color: #ffcd01;
}

.bus-line88 {
    color: #d2d200;
}

.bus-line91 {
    color: #dc9600;
}