/* Sections des pages

Sommaire :

    1. section
    2. section--bg
    3. section__title
    4. section__intro
    5. section__img
    6. section__img::after
    7. card__div
    8. section__link
    9. accès
*/

.section {
    position: relative;
}

.section:not(:last-child) {
    margin-bottom: var(--space4x);
}

.section--bg {
    color: var(--gray-white);
    padding-top: 160px;
    padding-bottom: 160px;
}

.section__title {
    font-size: var(--title-xxl);
    line-height: 1.1;
    margin: 0;
}

.section__intro {
    font-size: var(--title-xl);
    line-height: 1.5;
}

.section__img {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.section__img::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--brand-violet);
    z-index: 1;
    opacity: 0.5;
}

.card__div {
    display: flex;
    align-items: center;
}

.section__link {
    display: inline-block;
    margin-top: var(--space3x);
    margin-bottom: var(--space3x);
}

/* accès */

.metro-line4 {
    color: #cf009e;
}

.metro-line6 {
    color: #6eca97;
}

.bus-line38 {
    color: var(--lightblue-1);
}

.bus-line68 {
    color: #ffcd01;
}

.bus-line88 {
    color: #d2d200;
}

.bus-line91 {
    color: #dc9600;
}