/* Composant - Carrousel

Sommaire :

    1. carrousel_parent-ecrans
    2. carrousel_ecran
    3. carrousel_ecran img
    4. carrousel_ecran figure
    5. carrousel
    6. carrousel_btn
    7. carrousel_btn-avant
    8. carrousel_btn-apres
    9. carrousel .carousel_btn
    10. carrousel_liste-liens
    11. carrousel_lien
*/

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.carrousel_ecran {
    width: 100%;
    height: auto;
    flex: 0 0 100%;
    scroll-snap-align: start;
    text-align: center;
    scroll-snap-stop: always;
}

.carrousel_ecran img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carrousel_ecran figure {
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
    text-decoration-color: var(--secondary-color);
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    top: calc(min(730px, 100vw) / 16 * 9 / 2 + 1rem);
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: var(--black);
    border-radius: 100%;
    border: none;
    display: grid;
    place-content: center;
    color: var(--white);
    cursor: pointer;
    padding: 5px 17px;
}

.carrousel_btn-avant {
    left: 0;
}

.carrousel_btn-apres {
    right: 0;
}

.carrousel .carousel_btn {
    top: calc(9/20 * 100vh);
}

.carrousel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    gap: 1rem;
    margin-top: 40px;
    padding: 1rem 0.5rem;
    text-decoration: none;
}

.carrousel_lien {
    text-decoration: none;
    color: var(--white);
    font-weight: normal;
    transition: color 0.3s ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid var(--black);
    text-align: center;
    cursor: pointer;
}

.carrousel_lien.actif {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;

}

.carrousel_images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.list {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
}

.carrousel_description {
    color: var(--white);
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    font-style: oblique;
}