.intro {
    margin: var(--space5x) 0;
}

.intro__header {
    padding: var(--space5x) 0;
}

.intro__title {
    font-size: var(--title-xl);
    line-height: 1.5;
    font-style: italic;
}

.intro__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space3x);
}

.intro__nb {
    display: block;
    font-size: var(--text-xxl);
    line-height: 1.1;
    color: var(--white);
}