/* Composant - Intro

Sommaire :

    1. intro
    2. intro__header
    3. intro__img
    4. main__image
    5. intro__sub-title  
*/

.intro {
    margin: var(--space5x) 0;
}

.intro__header {
    padding: var(--space5x) 0;
    height: 80vh;
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--space5x);
    overflow: hidden;
}

.intro__img {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.main__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    inset: 0;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    position: relative;
    object-position: center bottom;
}

.intro__sub-title {
    font-size: var(--text-lg);
    color: var(--yellow-1);
    line-height: 1.3;
}