/* Composant - Menu

Sommaire :

    1. menu
    2. menu--open
    3. menu__list
    4. menu__item
    5. menu__link
    6. menu-btn
    7. menu-btn__bar
    8. menu-btn__bar::before
    9. menu-btn__bar::after
    10. menu-btn--open .menu-btn__bar
    11. menu-btn--open .menu-btn__bar::before
    12. menu-btn--open .menu-btn__bar::after
 
*/

.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: all 0.4s ease-in-out;
    inset: 0;
    background-color: var(--baseblue-2);
    font-size: var(--text-xl);
    letter-spacing: var(--letter-spacing);
    transition: all 0.4s ease-in-out;
}

.menu--open {
    visibility: visible;
    opacity: 1;
}

.menu__list {
    margin-top: 10vh;
    margin-left: 10vh;
}

.menu__item {
    margin-top: 15%;
}

.menu__link {
    color: var(--lightblue-2);
    text-decoration: none;
}

.menu-btn {
    width: 10vh;
    height: 10vh;
    position: relative;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background-color: var(--baseblue-2);
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -2vh;
}

.menu-btn__bar::after {
    top: -2vh;
}

.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    background-color: var(--white);
    transform: rotate(135deg);
}

.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}