/* Composant - Menu

Sommaire :

    1. menu
    2. menu--open
    3. menu__list
    4. menu__item
    5. menu__link
    6. menu-btn
    7. menu-btn__bar
    8. menu-btn__bar::before
    9. menu-btn__bar::after
    10. menu-btn--open .menu-btn__bar
    11. menu-btn--open .menu-btn__bar::before
    12. menu-btn--open .menu-btn__bar::after
 
*/

.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    transition: all 0.4s ease-in-out;
    inset: 0;
    background-color: var(--baseblue-2);
    transition: all 0.4s ease-in-out;
    z-index: 2;
}

.menu--open {
    visibility: visible;
    opacity: 1;
}

.menu__list {
    margin-top: 10vh;
    margin-left: 10vh;
}

.menu__item {
    margin-top: 15%;
}

.menu__link {
    color: var(--lightblue-2);
    text-decoration: none;
}

.menu-btn {
    width: 10vh;
    height: 10vh;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.menu-btn__bar,
.menu-btn__close {
    display: block;
    background-color: var(--baseblue-2);
    height: 2px;
    width: 30px;
    margin: 6px 0;
    transition: transform 0.4s ease-in-out;
}

.menu-btn--open .menu-btn__bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-btn--open .menu-btn__bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

.menu-btn--open .menu-btn__close {
    opacity: 1;
}

.menu-btn__close {
    display: none;
    font-size: 24px;
    color: var(--baseblue-2);
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}